@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: flex-start;
    padding: 10px 50px 10px 50px;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-family: "Playwrite GB J", cursive;

}

.header .logo svg:first-of-type {
    width: 40px;
    height: 40px;
}

.header .logo svg:last-of-type {
    margin-top: 6px;
    width: 120px;
    height: 40px;
}

.header .rightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.header .rightSide svg {
    width: 32px;
    height: 32px;
}

.newPostBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: linear-gradient(70deg, #e6563c, #dc2743, #cc2366, #bc1888, #0066FF);
    padding: 5px;
    border-radius: 4px;
}

.searchBar {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    background: var(--tag);
    padding: 5px 10px;
    border-radius: 4px;
}

.searchBar input {
    border: none;
    background: transparent;
    color: var(--white);
    width: 100%;
    height: 100%;
    font-size: 0.95rem;
    outline: none;
}

.searchBar input::placeholder {
    color: var(--white);
    opacity: 0.7;
    user-select: none;
}

.searchBar svg {
    opacity: 0.7;
}