@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

html{
  --bg: #0b0e27;
  --verification: #0b6af9;
  --tag: #282745;
  --white: #f5f5f5;
  --btnBg: #1b1d43;
}

body {
  margin: 0;
  color: var(--white);
  font-family: "Stack Sans Text", sans-serif;
  background: var(--bg);
}